@import url("common.css");

.gallery-container{
    max-width: 935px;
    margin : 0 auto;
    margin-top: 74px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.gallery-container img{
    height: 100%;
    width: 100%;
}

.item1 {
    grid-column: 1 / span 1;
    grid-row: 1;
    position: relative;
    

}

.item__shadow{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color:white;
}

.item__shadow > i {
    margin:20px;
}
  
.item2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    position: relative;
}

.item3 {
    grid-column: 1 / span 1;
    grid-row: 2;
    position: relative;
}

.item4 {
    grid-column: 1 / span 1;
    grid-row: 3;
    position: relative;
}

.item5 {
    grid-column: 2 / span 1;
    grid-row: 3;
    position: relative;
}

.item6 {
    grid-column: 3 / span 1;
    grid-row: 3;
    position: relative;
}

.item7 {
    grid-column: 1 / span 1;
    grid-row: 4;
    position: relative;
}

.item8 {
    grid-column: 2 / span 1;
    grid-row: 4;
    position: relative;
}

.item9 {
    grid-column: 3 / span 1;
    grid-row: 4;
    position: relative;
}

.item1:hover >.item__shadow{
    display: flex ;

}
.item2:hover >.item__shadow{
    display: flex;

}
.item3:hover >.item__shadow{
    display: flex;

}
.item4:hover >.item__shadow{
    display: flex;

}
.item5:hover >.item__shadow{
    display: flex;

}
.item6:hover >.item__shadow{
    display: flex;

}
.item7:hover >.item__shadow{
    display: flex;

}
.item8:hover >.item__shadow{
    display: flex;

}
.item9:hover >.item__shadow{
    display: flex;

}

.modal__post{
    width: 935px;
    height: 600px;
    margin: 0 auto;
    position: absolute;
    display: flex;
    background-color: white;
}

.post__left{
    width: 600px;
    height: 600px;
}

.post__left img{
    width:100%;
    height:100%;
}

.post__right{
    width: 335px;
    height:600px;
}

.right__header{
    width: 100%;
    height: 72px;
    padding:16px;
    display: flex;
    align-items: center;
}

.right__user--img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border:1px solid gray;
}

.right__user--img img{
    width: 100%;
    height : 100%;
}

.right__user--info{
    width: 256px;
    height: 26px;
    margin-left: 14px;
    display: flex;
}

.right__user--name{
    font-weight: 600;
}

.right__follow{
    color: rgb(0, 101, 252);
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: white;
}

.right__comment{
    width: 335px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.comment__other--user{
    width: 335px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.margin--left14{
    margin-left: 14px;
}

.margin--bottom10{
    margin-bottom: 10px;
}

.font--weight600--gray{
    font-weight: 600;
    color: gray;
    font-size: 13px;
}
