*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    padding : 20px 20px;
    display : flex;
    justify-content: space-between;
}

.header__nav{
    display: flex;
}

.header__list{
    list-style: none;
    margin-left: 20px;
}

main{
    display: flex;
}

section {
    width: 50%;
    
}

s